.container{
    border: dotted 1px rgb(102, 170, 76);
    }
    .inner-container{
    padding: 20px;
    margin: 5%;
    border: solid 1px rgb(38, 63, 6);
    font-style: italic;
    color: rgb(14, 51, 14);
    }